<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">
      <%= @friend.first_name %> <%= @friend.last_name %>
    </h1>
    <hr class="my-4" />
    <p class="col-md-8 fs-4 lead">
      Email: <%= @friend.email %>
    </p>
    <p class="col-md-8 fs-4 lead">
      Phone: <%= @friend.phone %>
    </p>
    <p class="col-md-8 fs-4 lead">
      Twitter: <%= @friend.twitter %>
    </p>
    <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-secondary" %>
    <%= link_to "Back to friends", friends_path, class: "btn btn-secondary" %>
    <div class="mt-2">
      <%= button_to "Destroy this friend", @friend, method: :delete, class: "btn btn-dark" %>
    </div>
  </div>
</div>
